{% load static %} 
<!--Aqui se cargan los archivos staticos, para poder acceder a ellos, si no se cargan Django intenta acceder a los recursos desde sus archivos base-->
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/stiles.css' %}> <!-- Aqui se importa el documento css que se utilizara para estilar este documento html-->
    <!-- Porm medio de este enlace se accede a los archivos de boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Aplicacion</title>
</head>
<body>
        <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-home">
    
        <div class="container">
            <!--Logo-->
          <a class="navbar-brand fs-4" href="#"><img src= {% static 'src/Logo_letras.png' %} alt="Logo"></a>
          <!--Boton nav-->
          <button class="navbar-toggler shadow-none border-0" 
          type="button" data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasNavbar" 
          aria-controls="offcanvasNavbar" 
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--Barra Lateral-->
          <div class="sidebar offcanvas offcanvas-start" 
            tabindex="-1" id="offcanvasNavbar" 
            aria-labelledby="offcanvasNavbarLabel">
            <!--Header -->
            <div class="offcanvas-header text-white border-bottom">
              <h5 class="offcanvas-title" 
              id="offcanvasNavbarLabel">
              <img src= {% static 'src/Logo_blanco.png' %} alt="Logo"></h5>
              <button type="button" 
                class="btn-close btn-close-white shadow-none" 
                data-bs-dismiss="offcanvas" 
                aria-label="Close">
              </button>
            </div>
            <!-- Body -->
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-center fs-5 flex-grow-1 pe-3">
                <li class="nav-item mx-2">
                  <a class="nav-link active text-white" aria-current="page" href={% url 'home' %}>Inicio</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link text-white" href="#">Gestionar usuarios</a>
                </li>
                <li class="nav-item dropdown mx-2">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Obras
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Consultar Obras</a></li>
                    <li><a class="dropdown-item" href="#">Gestionar Obras</a></li>
                  </ul>
                </li>
              </ul>
              <!--Logout-->
              <div class="d-flex justify-content-center aling-items-center gap-3">
                <a href="{% url 'exit' %}" 
                class="text-white text-decoration-none px-3 py-1 rounded-4"
                style="background-color: rgb(199, 74, 74);">
                Cerrar Sesion
                 </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    {% block content %}{% endblock %} <!-- Aqui se realiza la creacion de un bloque de contenido-->
</body>
</html>