{% extends 'frontend/Gerente/base.html' %}

{% block content %}
<h1>Crear Un User</h1>
<!--Este bloque se encarga de realizar la carga de la biblioteca crispy_forms -->
{% load crispy_forms_tags %}
<br>
<form id="register-form" action="" method="post">
    <!--Se crea un formulario el cual sera con la claase card de Boostrap-->
    <!--El metodo POST es el encargador de hacer que este formulario tenga las propiedades para obtener lo que se ingresa-->
    {% csrf_token %} <!--Token de validacion-->
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Para crear un usuario exitoso, siga las instruciones</h5>
            {{ form|crispy }}
            <!--Se aplica el formulario con la libreria Crispy la cual recolecta un formulario basado en los predeterminados de HTML-->
            <button class="btn btn-sm btn-primary aling-items-center" type="submit">Registrar Usuario</button>
            <!-- Este boton es el encargador de registrar los datos rellenados en el formulario en la base de datos-->
        </div>
    </div>
</form>

{% endblock %}